<h2>Create a Survey</h2>
<div class="container">
  <form action="/surveys/new" method="POST" enctype="multipart/form-data">
    Survey Title:<input type="text" name="survey_title"><br>
    Image(optional):<input type="file" name="image_file_name"><br><br>
    <div id="questions-box">
      <div id="first-question">
        <div class="question">
          Question Prompt: <input type="text" name="question_0_text" ><br>
          Possible responses(1 per line): <textarea rows="4" cols="50" name="question_0_possible_responses">
        </textarea><br>
      </div><br>
    </div>
  </div>
  <input type="submit" value="Create Survey" id="create_survey_button">
</form>

<form action="/question/new" method="POST">
  <input type="submit" value="Add Question" id="add_question_button">
</form>
<form action="/question/remove" method="POST">
  <input type="submit" value="Remove Last Question" id="remove_question_button">
</form>
</div>