<div class="container">
  <h3 class="centered">Select a survey below</h3>
  <% @surveys.each do |survey| %>
    <a href="surveys/<%= survey.id %>" class="login_button padded-bottom-left"><%= survey.title %></a>
  <% end %>
</div>
